body {
    font-family: 'Open Sans', sans-serif;
}

.portfolioNav {
    height: 100px;
    padding: 0 40px;
}

.hero {
    margin-top: 50px;
    max-width: 1200px;
}

.introduction {
    padding: 30px;

}

.profileImage img {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0 auto;
}

.profileHeader {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.profileHeader h3 {
    font-size: large;
    font-weight: 700;
}

.profileHeader h4 {
    font-size: medium;
    font-weight: 200;
}

p {
    font-size: small;
}

.pdfDownload {
    border-radius: 50px;
    border: 2px solid #aaaaaa;
    padding: 10px 10px;
    background: white;
    max-width: 125px;
    text-decoration: none;
    color: #aaaaaa;
    margin: 0 auto;
    font-size: small;
    font-weight: 700;
}

.pdfDownload:hover {
    background: #aaaaaa
}

a:hover {
    color: #ffffff;
}

.socialIcons {
    margin-top: 20px;
}

.socialIcon {
    height: 40px;
    text-decoration: none;
}

a {
    color: white;
}

.socialIcon:hover {
    
}

.resumeDownload {
    margin-top: 20px;
}

.caseStudies {
    background-color: #e0e0e0;
}

.caseStudyContainer {
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
}

.caseStudyCard {
   margin-bottom: 25px;
}

.mySkills {
    margin: 100px 0;
}

.footer {
    background-color: #595959;
    padding: 20px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {

  }

  @media only screen and (max-width: 992px) {

  }

