body {
    font-family: 'Open Sans', sans-serif;
}

.portfolioNav {
    height: 100px;
    padding: 0 40px;
}

.hero {
    margin-top: 50px;
    max-width: 700px;
}

.introduction {
    padding: 20px;
}

.profileImage img {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
}

.profileHeader {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profileHeader h3 {
    font-size: medium;
    font-weight: 700;
}

.profileHeader h4 {
    font-size: small;
    font-weight: 200;
}

.btn-primary {
    border-radius: 50px;
    padding: 10px 20px;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: none;
    max-width: 250px;
}

.caseStudies {
    background-color: #e0e0e0;
}

.caseStudyContainer {
    padding: 100px 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.caseStudyCard {
    margin-bottom: 0;
    margin: 20px;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    .caseStudyContainer {
        padding: 50px 0;
        max-width: 1200px;
        margin: 0 auto;
    }
  }

  @media only screen and (max-width: 992px) {
    .caseStudyContainer {
        padding: 50px 0;
        max-width: 1200px;
        margin: 0 auto;
    }
  }